dashboard/node_modules
prescal/build/
prescal/.vscode
prescal/.env
prescal/test
traffic/build
event/.env
inference/venv
inference/model
inference/src/core/__pycache__
inference/src/__pycache__
inference/src/utils/__pycache__
*.env
*.log
*.csv
